/GOP/nbproject/private/
/GOP/build/
/GOP/dist/
/build/
/COP/nbproject/private/
/COP/dist/
COP/build/built-jar\.properties

COP/nbproject/jfx-impl\.xml

COP/nbproject/UPDATED\.TXT
/COP/build/