/* Cores
    1- #2c3e50
    2- #34495e 
    3- #7f8c8d
    4- #95a5a6
    5- #bdc3c7
    6- #ecf0f1
*/
@font-face {
    font-family: 'DoHyeon';
    src: url('DoHyeon-Regular.ttf');
}
/*Campos de preenchimento*/
/*Cursores*/
.cursor-hand{
    -fx-cursor: hand;
        
}
/*Layout da janela*/
.title-pane{
    -fx-background-color: #2c3e50;
}

.sidebar{
    -fx-background-color: #34495e;
}
.parent{
    -fx-background-color: #95a5a6;
}
.success-pane{
    -fx-background-color: #2c3e50;
}
/*Cores de labels*/
.color-sidebar{
    -fx-text-fill: #ecf0f1;
}
.title-pane-label{
    -fx-text-fill: #ecf0f1;
    -fx-font-family: 'DoHyeon';
    -fx-font-style:sans-serif;
    -fx-font-size: 14 ;
}
.label-success{
    -fx-text-fill: #ecf0f1;
    -fx-font-family: 'Arial Black';
    -fx-font-style:regular;
    -fx-font-size: 15 ;
}
/*Clicaveis*/
.buttons-sidebar{
    -fx-hbar-policy: always;
    -fx-border-radius: 0%;
    -fx-alignment: center;
    -fx-background-color: transparent;
}
.buttons-sidebar:hover{
    -fx-border-color: #130f40;
    -fx-border-style: solid;
    -fx-border-width: 0px 0px 0px 1px;
    -fx-text-fill: #130f40;
    -fx-background-color: #ffffff;
}
.buttons-window{
    -fx-hbar-policy: always;
    -fx-alignment: center;
    -fx-border-radius: 0%;
    -fx-background-color: transparent;
}

