/* Cores
    fundo- #34495E
    btn fundo Login #353535
    btn fundo sair  #5d5d5d
    3- #
    4- #
    5- #
    6- #
*/
AnchorPane{
    -fx-background-color: #dddddd;
}
JFXTextField,JFXPasswordField,JFXTextArea,JFXComboBox{
    -jfx-focus-color:#212121;
    -jfx-unfocus-color:#353535;
    -fx-text-fill: #212121;
}
.hoverBtnMenu{
    -fx-text-fill: white;
}
.hoverBtnMenu:hover{
    -fx-border-radius: 5px;
    -fx-border-color: #353535;
    -fx-text-fill: #353535;
}